/* navbar */
div.navbar{
    background-color:black;
    text-align: center;
    min-width: 250px;
    max-width:850px;
    margin: 10px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}
.logo{
    float: left;
    font-weight: 800;
}
button{
    color: white;
    background-color:chocolate;
    border-radius: 40px;
    float: right;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
/* cards */
.maincard{
    min-height: 250px;
    max-height: 850px;
    min-width: 250px;
    max-width: 850px;
    padding: 10px;
    background-color:rgb(238, 241, 250);
    display: flex;

}
.card{
    border-radius: 10%;
    min-height: 20%;
    max-height: 30%;
    min-width: 20%;
    max-width: 30%;
    margin-left: 20px;
    margin-right:20px;
    background-color:white;
    color: black;
    overflow: scroll;
}
div[class="card"]{
    font-size: 80%;
}   
img{
    width: 100%;
    height: 40%;
}
div[class="head"]{
    border: 1px solid;
    width: 30%;
    border-radius: 20px;

}
div[class="head"]>p{
    font-size: 80%;
    text-align: center;
}
#technology{
    color: white;
    background-color: blue;
}
#food{
    color: white;
    background-color: orange;
}
#automobile{
    color: white;
    background-color:red;
}
div[class="footer"]{
    display: flex;
}
.icon{
    border-radius: 60%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
div[class=last]{
    line-height: 1px;
}
small{
    color: gray;
}
