body{
    background-color:rgb(217, 223, 243) ; 
    text-align: center;

}
#main{
    border: 1px;
    min-height: 250px;
    max-height: 1090px;
    min-width: 250px;
    max-width: 1090px;
    padding: 10px;
    background-color:rgb(238, 241, 250) ;
    margin-top: 70px;
    display: flex;

}
.child{
    border: 1px;
    min-height: 20%;
    max-height: 30%;
    min-width: 20%;
    max-width: 30%;
    text-align: center;
    margin-left: 20px;
    margin-right:20px;
    overflow: scroll;
    scrollbar-width: 0px;
    background-color: white;
    
}
img{
    height: 40%;
    width: 100%;
}
p{
    font-size: 12px;
}
button{
    width: 80%;
    height: 10%;
    color: rgb(40, 145, 214);
    background-color: rgb(230, 236, 245);
    border: 0px;
    font-size: 12px;
}
